<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zgysrc.www.dao.AualificationCertificationMapper">
  <resultMap id="BaseResultMap" type="net.zgysrc.www.bean.AualificationCertification">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="certification_num" jdbcType="VARCHAR" property="certificationNum" />
    <result column="certification_name" jdbcType="VARCHAR" property="certificationName" />
    <result column="id_card_num" jdbcType="VARCHAR" property="idCardNum" />
    <result column="certification_type" jdbcType="VARCHAR" property="certificationType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, certification_num, certification_name, id_card_num, certification_type
  </sql>
  <select id="selectByExample" parameterType="net.zgysrc.www.bean.AualificationCertificationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from qualification_certification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qualification_certification
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qualification_certification
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="net.zgysrc.www.bean.AualificationCertificationExample">
    delete from qualification_certification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.zgysrc.www.bean.AualificationCertification">
    insert into qualification_certification (id, certification_num, certification_name, 
      id_card_num, certification_type)
    values (#{id,jdbcType=INTEGER}, #{certificationNum,jdbcType=VARCHAR}, #{certificationName,jdbcType=VARCHAR}, 
      #{idCardNum,jdbcType=VARCHAR}, #{certificationType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.zgysrc.www.bean.AualificationCertification">
    insert into qualification_certification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="certificationNum != null">
        certification_num,
      </if>
      <if test="certificationName != null">
        certification_name,
      </if>
      <if test="idCardNum != null">
        id_card_num,
      </if>
      <if test="certificationType != null">
        certification_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="certificationNum != null">
        #{certificationNum,jdbcType=VARCHAR},
      </if>
      <if test="certificationName != null">
        #{certificationName,jdbcType=VARCHAR},
      </if>
      <if test="idCardNum != null">
        #{idCardNum,jdbcType=VARCHAR},
      </if>
      <if test="certificationType != null">
        #{certificationType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.zgysrc.www.bean.AualificationCertificationExample" resultType="java.lang.Long">
    select count(*) from qualification_certification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update qualification_certification
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.certificationNum != null">
        certification_num = #{record.certificationNum,jdbcType=VARCHAR},
      </if>
      <if test="record.certificationName != null">
        certification_name = #{record.certificationName,jdbcType=VARCHAR},
      </if>
      <if test="record.idCardNum != null">
        id_card_num = #{record.idCardNum,jdbcType=VARCHAR},
      </if>
      <if test="record.certificationType != null">
        certification_type = #{record.certificationType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update qualification_certification
    set id = #{record.id,jdbcType=INTEGER},
      certification_num = #{record.certificationNum,jdbcType=VARCHAR},
      certification_name = #{record.certificationName,jdbcType=VARCHAR},
      id_card_num = #{record.idCardNum,jdbcType=VARCHAR},
      certification_type = #{record.certificationType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.zgysrc.www.bean.AualificationCertification">
    update qualification_certification
    <set>
      <if test="certificationNum != null">
        certification_num = #{certificationNum,jdbcType=VARCHAR},
      </if>
      <if test="certificationName != null">
        certification_name = #{certificationName,jdbcType=VARCHAR},
      </if>
      <if test="idCardNum != null">
        id_card_num = #{idCardNum,jdbcType=VARCHAR},
      </if>
      <if test="certificationType != null">
        certification_type = #{certificationType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.zgysrc.www.bean.AualificationCertification">
    update qualification_certification
    set certification_num = #{certificationNum,jdbcType=VARCHAR},
      certification_name = #{certificationName,jdbcType=VARCHAR},
      id_card_num = #{idCardNum,jdbcType=VARCHAR},
      certification_type = #{certificationType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>